<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"  lang="zh" charset="utf-8" ><!--<![endif]-->
{% load staticfiles %}
<head>

        <!-- Basics -->
        <meta charset="utf-8">
       
        <title>{{article.title}} &#8211; 白七的博客</title>
        
       <link href="{%static 'favicon.icon'%}" rel="shortcut icon">

        <!-- Favicons -->
       <link rel="stylesheet" type="text/css" href="{%static 'semantic.css'%}" media="screen">

        <!-- Mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <!-- CSS -->
        <link rel="stylesheet" href="{%static 'about/css/normalize.min.css'%}">
        <link rel="stylesheet" href="{%static 'about/css/main.css'%}">

        <!-- Fonts -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700'>
        <!-- 为评论 -->

    <script charset="utf-8" src="{%static 'kindeditor-all.js'%}"></script>
    <script charset="utf-8" src="{%static 'editor/lang/zh-CN.js'%}"></script> 
    <script>


        KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id', {
                   resizeType : 1,
                    allowPreviewEmoticons : false,
                    allowImageUpload : false,
                    items : [
                        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                        'insertunorderedlist', '|', 'emoticons', 'image', 'link']
                    }); 
               filterMode : false
       
        
      
       
});
       



</script>

    </head>
    <body>   

        <div class="wrapper">

            <header>
                <a class="menu-icon jiji">
                    <span></span>
                </a>
                <nav class="menu visuallyhidden">
                    <ul>
                        <li><a href="{%url 'blog:index'%}">Home</a></li>
                       
                        <li><a href="#services">Comments</a></li>
                         {%if boo_login == 'True'%}

                        <li><a href="{%url 'blog:logout'%}">Logout</a></li>
                        {% else %}
                        <li><a href="{%url 'blog:login'%}">Login</a></li>
                        {%endif%}
                    </ul>
                </nav>
            </header>

            <section id="home" class="row">
                <div class="overlay">
                    <div class="col home-title jiji">
                        <h1>{{article.title}}</h1>
                       
                        <a href="#about" target="_blank" class="but">Read More</a>
                    </div>
                </div>
            </section>

            <section id="about" class="row">
                <div class="page about-content">
                    <div class="col about-title">
                        <h3
                            data-100="-webkit-transform: translateX(100px); opacity:0;"
                            data-500="-webkit-transform: translateX(0px); opacity:1;"
                        >{{article.title}}</h3>
                    </div>
                    <div class="col empty">&nbsp;</div>
                    <div class="col about-description">
                        <p
                            data-100="opacity:0;"
                            data-500="opacity:1;"
                        >
                        <p >{{article.tag}}</p>
                        <p>{{article.content|safe}}</p><br>
                        <h6 align="right">{{article.pub_time}}</h6>
                        <a href="{%url 'blog:edit_page' article.id %}" class="but">Edit</a>


                        
           
        
        <a  href="{%url 'blog:del_article' article.id %}" >
            <!-- <i class="remove icon"></i> -->删除
        </a>
                    </div>
                    <div class="col empty">&nbsp;</div>
                </div>
            </section>

  <section id="services" class="row">
                <div class="services-content page">

                    <div class="col services-design"
                        data-600="-webkit-transform: translateY(10px); opacity:0;"
                        data-800="-webkit-transform: translateY(0px); opacity:1;"
                    >
                        <span class="icon-design"></span>
                        <ul>
                            <li>UI / UX Design</li>
                            <li>User Interface Design</li>
                            <li>Interaction Design</li>
                            <li>User Experience Thinking</li>
                            <li>Prototyping</li>
                            <li>Wireframing</li>
                        </ul>
                    </div>
                    <div class="col services-frontend"
                        data-600="-webkit-transform: translateY(50px); opacity:0;"
                        data-800="-webkit-transform: translateY(0px); opacity:1;"
                    >
                        <span class="icon-computer"></span>
                        <ul>
                            <li>Frontend Development</li>
                            <li>HTML5 / CSS3</li>
                            <li>jQuery & JavaScript libraries</li>
                            <li>Responsive Design</li>
                            <li>Sass</li>
                            <li>Git / SVN</li>
                        </ul>
                    </div>
                    <div class="col services-team"
                        data-600="-webkit-transform: translateY(100px); opacity:0;"
                        data-800="-webkit-transform: translateY(0px); opacity:1;"
                    >
                        <span class="icon-music"></span>
                        <ul>
                            <li>Team Building</li>
                            <li>Smiling</li>
                            <li>Communication</li>
                            <li>Team working</li>
                            <li>Sharing my music</li>
                            <li>...and more!</li>
                        </ul>
                    </div>
                </div>
            </section>


<footer id="footer" class="row">
                <div class="footer-content page">
                    <div class="col f1">
                        <p>COPYRIGHT©BAIQI 2017-2017</div> </p>
                    </div>
                </div>
            </footer>

        </div>

        <div class="loader"></div>
        
        <!-- JavaScript -->
        <script src="{%static 'about/js/jquery-1.11.0.min.js'%}"></script>
        <script src="{%static 'about/js/modernizr-2.6.2.min.js'%}"></script>
        <script src="{%static 'about/js/skrollr.js'%}"></script>
        <script src="{%static 'about/js/main.js'%}"></script>

    </body>

</html>